@forward '../base/card';

.so-page_olymp .so-section_how .so-card {
	padding: 24px 24px 0 24px;

	@media (min-width: 800px) {
		padding: 32px 32px 0 32px;
	}
	@media (min-width: 1000px) {
		padding: 48px 48px 0 48px;
	}
}

.so-page_olymp .so-section_how .so-card__image {
	width: 100%;
	height: auto;
	margin-top: 48px;
}

.so-page_olymp .so-section_how .so-card__image_1 {
	width: 160px;
	margin-top: 24px;
	margin-bottom: 24px;

	@media (min-width: 800px) {
		width: 200px;
		margin-top: 32px;
		margin-bottom: 32px;
	}

	@media (min-width: 1000px) {
		width: 240px;
		margin-top: 48px;
		margin-bottom: 48px;
	}
}

.so-page_olymp .so-section_why .so-card {
	padding: 32px;

	@media (min-width: 1000px) {
		flex: 1;
	}
}

.so-page_olymp .so-section_why .so-card__image {
	width: 100%;
	height: auto;
	margin-top: 32px;
	border-radius: var(--so-border-radius-md);

	@media (min-width: 600px) {
		width: 360px;
	}

	@media (min-width: 800px) {
		width: 480px;
	}

	@media (min-width: 1000px) {
		width: 100%;
	}
}