@forward '../base/section';

.so-page_olymp .so-section_hero {
	padding-top: 96px;
	padding-bottom: 96px;
}

.so-page_olymp .so-section_about {
	padding-top: 130px;
	padding-bottom: 130px;
}

.so-page_olymp .so-section_cta-1 {
	padding-top: 64px;
	padding-bottom: 64px;
}

.so-page_olymp .so-section_why,
.so-page_olymp .so-section_how {
	padding-top: 130px;
}

.so-page_olymp .so-section_question,
.so-page_olymp .so-section_cta-2 {
	padding-top: 130px;
	padding-bottom: 130px;
}